
reto_10 - Consumiendo webservices/app/build/intermediates/data_binding_base_class_log_artifact/debug/dataBindingGenBaseClassesDebug/out/com.example.coberturamovil-binding_classes.json

reto_10 - Consumiendo webservices/app/build/intermediates/data_binding_base_class_log_artifact/debugAndroidTest/dataBindingGenBaseClassesDebugAndroidTest/out/com.example.coberturamovil.test-binding_classes.json
